.choresText {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color: rgb(139, 17, 196);
}

.choresHeading {
   background: linear-gradient(rgb(167, 112, 234), white);
   color: rgb(139, 17, 196);
   text-decoration: underline;
   font-style: italic;
}